*{
   
    font-family: 'Rubik', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: hsl(212, 45%, 89%);
}

main{
    width: 20rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    padding: 20px 10px;
}

img{
    max-width: 320px;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
}
h2, p{
    text-align: center;
}

p{
    color: hsl(220, 15%, 55%);
}

footer{
    font-size: 11px; 
    text-align: center; 

}

footer a{
    color: hsl(228, 45%, 44%); 
}

